In [1]:
import pandas as pd

In [2]:
crowd_funding_data = pd.ExcelFile("crowdfunding.xlsx")

In [3]:
crowd_funding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [4]:
cf_df = pd.read_excel(crowd_funding_data, sheet_name='crowdfunding_info')
cf_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [5]:
pd.set_option('max_colwidth', 400)
contact_df = pd.read_excel(crowd_funding_data, sheet_name='contact_info', header=3)
contact_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [6]:
cf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [7]:
contact_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [8]:
cf_df["category & sub-category"].value_counts()

theater/plays                    344
music/rock                        85
film & video/documentary          60
technology/web                    51
food/food trucks                  46
music/indie rock                  45
technology/wearables              45
photography/photography books     42
film & video/drama                37
games/video games                 35
film & video/animation            34
publishing/nonfiction             21
publishing/translations           21
music/electric music              18
music/jazz                        17
publishing/fiction                17
film & video/television           17
film & video/shorts               16
film & video/science fiction      14
games/mobile games                13
publishing/radio & podcasts        8
music/metal                        7
journalism/audio                   4
music/world music                  3
Name: category & sub-category, dtype: int64

In [9]:
cf_df[["category" , "sub-category"]] = cf_df["category & sub-category"].str.split('/', n=1, expand=True)
cf_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [10]:
#9
cf_df["category"].nunique()

#24
cf_df["sub-category"].nunique()

24

In [11]:
categories = cf_df["category"].unique()
subcategories = cf_df["sub-category"].unique()

In [12]:
import numpy as np

category_ids = np.arange(1,10)
subcategory_ids = np.arange(1,25)

In [13]:
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids ]
print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [17]:
category_df = pd.DataFrame({
    "category_id": cat_ids,
    "category" : categories
})
category_df.to_csv("category_df.csv" , index = False)

In [18]:
subcategory_df = pd.DataFrame({
    "subcategory_id": scat_ids,
    "subcategory" : subcategories
})
subcategory_df.to_csv("subcategory_df.csv" , index = False)